*{
    padding: 0;
    margin: 0;
}

body{
    max-height: 100vh;
}

.navbar{
    background-color: #4b3131;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 65px;
}

.logo{
    width: 120px;
}

.list{
    color: #ac9595;
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: 300px;
}

.list-item:first-child{
    color: #ffffff;
}

.list-item{
    font-size: 17px;
    font-family: sans-serif;
}

.button-small{
    background: none;
    color: #019c01;
    border: 1px solid #019c01;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 18px;
}

.hero{
    background-color: #4b3131;
    color: white;
    display: flex;
    padding: 20px 100px;
    gap: 50px;
}

.hero h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding: 0 5px;
    width: 550px;
}

.hero p{
    font-size: 20px;
    font-family: sans-serif;
    color: #ac9595;
    padding: 50px 0;
    width: 415px;
}

.bottom img{
    width: 100%;
    height: 48vh;
}